# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# node.js files
package.json
package-lock.json
node_modules

#testing files
src/
dist/

# code editor files
.vs/
.vscode/

# other files
*.ini

